body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;   
}

form {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}